.card 
    img(src="/images/coolphone.png", alt="phone").card__img
    span.card__title Cool phone
    span.card__price $1000.00
        span.card__old-price $2000.01
    button.card__clear
        svg.header-cart__icon
            use(xlink:href='images/sprite.svg#cart', alt="search")
    button.card__cart
        svg.header-cart__icon
            use(xlink:href='images/sprite.svg#search', alt="search")