.card 
    img(src="/images/coolphone.png", alt="phone").card__img
    span.card__title Cool phone
    span.card__price $1000.00
        span.card__old-price $2000.01
    .card__btn-box
        button.card__button
            svg.card__icon
                use(xlink:href='images/sprite.svg#dustbin', alt="search")
        button.card__button
            svg.card__icon
                use(xlink:href='images/sprite.svg#basket', alt="search")