sections.servise
    .servise__box.container
        .servise__item
            svg.servise__icon
                use(xlink:href='images/sprite.svg#like', alt="search")
            p.servise__text
                strong full warrenty 
                span Read About Our Warrenty
        .servise__item
            svg.servise__icon
                use(xlink:href='images/sprite.svg#truck', alt="search")
            p.servise__text
                strong express shipping 
                span Local & international Shipping
        .servise__item
            svg.servise__icon
                use(xlink:href='images/sprite.svg#message', alt="search")
            p.servise__text
                strong mobile blog
                span Discuss Your Favourite Phone
        .servise__item
            svg.servise__icon
                use(xlink:href='images/sprite.svg#headphone', alt="search")
            p.servise__text
                strong 24/7 support
                span Get Full Support via Chat
footer.footer
    .container
        p.footer__discription subscribe to latest smartphones 
            span news & great deals we offer
        .footer-forms__input
            input(type='text' placeholder="enter your email address...")
            svg
                use(xlink:href='images/sprite.svg#mail', alt="search")
        nav.footer__social
            a(href="#").footer__link
                svg.footer__icon
                    use(xlink:href='images/sprite.svg#twitter', alt="search")
            a(href="#").footer__link
                svg.footer__icon
                    use(xlink:href='images/sprite.svg#fb', alt="search")
            a(href="#").footer__link
                svg.footer__icon
                    use(xlink:href='images/sprite.svg#in', alt="search")
            a(href="#").footer__link
                svg.footer__icon
                    use(xlink:href='images/sprite.svg#g', alt="search")
            a(href="#").footer__link
                svg.footer__icon
                    use(xlink:href='images/sprite.svg#pin', alt="search")
            a(href="#").footer__link
                svg.footer__icon
                    use(xlink:href='images/sprite.svg#youtube', alt="search")
            a(href="#").footer__link
                svg.footer__icon
                    use(xlink:href='images/sprite.svg#rss', alt="search")
    .footer-bottom
        .container
            span copyright © codeitstore all rights reserved.
            img(src="/images/footer.png", alt="logotip")