sections.container.items
    include card
    include card
    include card
    include card
    include card
    include card
.container.pagination
    button.active 1
    button 2
    button 3
    button 4