.search {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 50px;
    padding-bottom: 40px;
    
    &__input {
        border: 1px solid $silver;
        padding: 12px 32px;
        font-size: 18px;
    }
    &__button {
        padding: 10px 20px;
        background: transparent;
        border: 2px solid $black;
        cursor: pointer;
    }
}